.bannerStyle {
  background-color: black;
  color: red;
}

.float-left-child {
  display: inline-block;
  text-align: left;
}

.float-right-child {
  text-align: center;
}

.formStyle {
  background-color: aqua;
  min-height: 100vh;
  text-align: center;
}
