.page_background{
  min-height: 100%;
  height: 100vh;
  background-color: black;
  position:relative;
  overflow: hidden;
  overflow-y:scroll;
  overflow-x:scroll;
  color:red;

}

.headerBar{
 background-color:white;
 height: 5vh;
 text-align: center;
 margin-top: 0;
}


.box{    
  position: fixed; 
  width: 99vh;         /* width: 700px;*/
  height: 75vh;         /* height: 600px; */
  top: 15vh;
  margin-left: 25%;
  margin-right: 25%;
  border: 0.5%;
  background-color: brown; 
  border-radius: 30%;
  border-style: dashed;
  border-color: red;
}

.login_left{
  position: fixed;
  text-align: center;
  top: 15vh;
  margin-top: 5%;
  width: 50vh;        
  height: 75vh;
}

.yellow_line{
  position: fixed;
  margin-left: 27%; /* margin-left: 350px; */
  width: 0.5%;
  height: 75%;  /* height: 550px; */
  background-color:black;
}

.signup_right{
  position: fixed;
  text-align: center;
  margin-left: 27%;
  top: 15vh;
  left: 45vh;
  width: 50vh;
  height: 75vh;
}

.login_title{
  height: 40%;
  font-family:'SignPainter';
  font-size: 350%;
  color: black;
  display: inline-block;
  position: relative;
}

.signup_title{
  height: 40%;
  margin-top: 27%;
  font-family:'SignPainter';
  font-size: 350%;
  color: black;
  display: inline-block;
  position: relative;
}

fieldset {
  border: 0px;
}

.login_fields{
    font-family:'SignPainter';
    font-size: 160%;
    font-weight: bold;
    color: black;
    display: inline-block;
    outline: none;
    padding: 2px;
    margin-top: 4%;
    position: relative;
}


.signup_fields{
  font-family:'SignPainter';
  font-size: 160%;
  font-weight: bold;
  color: black;
  display: inline-block;
  outline: none;
  padding: 2px;
  position: relative;
  margin-bottom: 5%;
}

.signup_fields2 {
  font-family:'SignPainter';
  font-size: 160%;
  font-weight: bold;
  color: black;
  display: inline-block;
  outline: none;
  padding: 2px;
  position: relative;
  margin-bottom: 5%;
}

.signup_fields3 {
  font-family:'SignPainter';
  font-size: 160%;
  font-weight: bold;
  color: black;
  display: inline-block;
  outline: none;
  padding: 2px;
  position: relative;
  margin-bottom: 7.5%;
}

.submit_button {

  background-attachment: fixed;
  font-family:'SignPainter';
  color: black;
  display: inline-block;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin: 4px 12px;
  padding: 5px 20px;
  cursor: progress;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 7%;
  
}

.backStyle {
  color: red;
  display: flex;
  justify-content: stretch;
  height: 40%;
  text-align: left;
  width: 50%; 
  margin-left: 25%;
  margin-right: 30%;
  margin-top: 20%;
  margin-bottom: 20%;
}



