<<<<<<< HEAD
.logo {
  min-height: 100%;
}

.backStyle {
  color: red;
  display: flex;
  justify-content: stretch;
  background-color: blue;
  text-align: left;
  width: 100%;
  height: 100%;
}
=======
.logo{
    height: 100vh;
    background-color: black;
    color: wheat;
    overflow-y: scroll;
}

.backStyle {
    width:50%;
    height: 60%;
    color: red;
    background-color: blue;
    height:100%;
    text-align: left;
  };
  
>>>>>>> 0becd9b0973f93972dc6a4df5afabdfe842aa181
